# datasci requirements
Pillow~=10.1
graphviz==0.20.1
jupyterlab
keras-tuner==1.4.6
keras==2.11.0
matplotlib~=3.7
notebook==6.5.2
notebook_shim==0.2.2
numpy~=1.22
nvidia-cublas-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cudnn-cu11
opencv-python~=4.8
pipenv==2022.11.30
python-dotenv==0.21.*
sagemaker==2.121.2
scikit-learn>=1.0.2
seaborn==0.12.1
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.28.0
tensorflow==2.14
tensorflow_datasets~=4.9

# external requirements
click
Sphinx
coverage
awscli
flake8
